/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto";
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1F2937;
    padding: 1rem 10rem;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}
.toggle-button{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}
.nav-links{
    color: #C5C8CE;
    list-style: none;
    display: flex;
    font-size: 18px;
}

.nav-link{
    margin-right: 2.6rem;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 10rem;
    background: #1F2937;
    color: white;
}
.hero-img{
    width: 100%;
    max-width: 400px;
    margin-left: 3rem;
}
.left-hero h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    
}
.left-hero p {
    font-size: 18px;
    color: #C5C8CE;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

.hero-btn{
    background: #3882F6;
    padding: 0.2rem 2rem;
    border: none;
    border-radius: 7px;
    color: #F9FAF8;
    outline: none;
}
/* Info section */

.info-section h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-top: 2.5rem;
}

.cards{
    display: flex;
    margin: 3rem 14rem;
}
.card{
    text-align: center;
}

.card-img{
    max-width: 10rem;
    height: 10rem;
    border: 3px solid #3882F6;
    border-radius: 0.5rem;
    object-fit: contain;
    background-color: #3882F6;
    margin: 0rem auto;
}
.card-picture{
    width: 8rem;
    height: 8rem;
    object-fit: contain;
    margin: 0.8rem auto;
}
.card-txt{
    font-size: 0.8rem;
    color: #818892;
    margin-top: 0.5rem;
    padding-left: 30px;
    padding-right: 30px;
}

/*Quote section  */
div:has(>blockquote){
    background-color: #E5E7EB;
    margin: 10px auto;
    padding: 8rem 15rem;
    border-radius: 5px;
}
blockquote p::before{
    content: "\201C";
}
blockquote p::after{
    content: "\201D";
}
blockquote p{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}
blockquote + p {
    text-align: right;
    color: #222C39;
    font-size: 25px;
    font-weight: 800;
}

/* Call to action section */
.cta-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3882F6;
    color: #F9FAF8;
    margin: 5rem 10rem;
    padding: 2rem 8rem;
    border-radius: 0.5rem;
}
.cta-btn{
    padding: 0.2rem 2rem;
    background: #3882F6;
    border: 2px solid #E5E7EB;
    border-radius: 7px;
    color: #F9FAF8;
    outline: none;
}

/* Footer section */
footer{
    background: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 2rem 5.5rem;
}
@media (max-width: 1150px) {
   .nav-bar{
        padding: 0.5rem 5rem;
   }
    .hero-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .hero-img{
        order: 1;
        max-width: 400px;
        margin-right: 5rem;
        margin-bottom: 2rem;
    }
    .left-hero{
        order: 2;
    }
    .left-hero h1{
        font-size: 40px;
        padding-bottom: 0.5rem;
        text-align: center;
    }
    .hero-span{
        color: #3882F6;
        text-align: center;
    }
    .left-hero p{
        font-size: 15px;
        text-align: center;
    }
    .hero-btn{ 
       display: block;
       width: 200px;
       margin: 1rem auto;
    }
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem 5rem;
}
.card{
    margin-bottom: 2rem;
}
.card-img{
    max-width: 11rem;
    height: 15rem;
}
.card-picture{
    width: 8rem;
    height: 10rem;
    margin: 2rem auto;
}
.card-txt{
    font-size: 1rem;
}
.cta-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background: #3882F6;
    color: #F9FAF8;
    margin: 5rem 10rem;
    padding: 2rem 8rem;
    border-radius: 0.5rem;
}
.cta-txt{
    text-align: center;
}

}
@media (max-width: 1000px) {
    div:has(>blockquote){
    padding: 5rem 3rem;
}
blockquote p{
    font-size: 25px;
}
blockquote + p {
    font-size: 18px;
    font-weight: 800;
}
.cta-container{
    margin: 5rem 5rem;
    padding: 2rem 8rem;
}
}
@media (max-width: 800px) {
.nav-links{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem !important;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 5rem 1.5rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}
.toggle-button{
    display: block;
    z-index: 999;
}
.nav-links.active{
    display: flex;
}
.toggle-button.active .bar:nth-child(2){
    opacity: 0;
}
.toggle-button.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.toggle-button.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
.cta-container{
    margin: 5rem 3rem;
}
}
@media (max-width: 600px) {
    .nav-links{
    height: 100vh;
    width: 100%z;
    position: fixed;
    top: 0;
}
    .nav-bar{
        padding: 0.5rem 2rem;
   }
   .hero-section{
        padding: 4rem 1rem;
   }
   .hero-img{
        width: 10rem;
        margin-right: 4rem;
        margin-bottom: 2rem;
    }
    .left-hero h1{
        font-size: 3rem;
        padding-bottom: 0.5rem;
        text-align: center;
    }
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem 0rem;
}
.card{
    margin-bottom: 2rem;
}
.card-img{
    max-width: 10rem;
    height: 15rem;
}
.card-picture{
    width: 7rem;
    height: 10rem;
    margin: 2rem auto;
}
.card-txt{
    font-size: 1rem;
}
div:has(>blockquote){
    padding: 5rem 3rem;
}
blockquote p{
    font-size: 25px;
}
blockquote + p {
    font-size: 18px;
    font-weight: 800;
}
.cta-container{
    margin: 3rem 1rem;
    padding: 2rem 4rem;
}
}